<!DOCTYPE HTML>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <title>Golden Book</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'polls:index_log' pseudo %}">Golden Book</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'polls:index_log' pseudo %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'polls:index' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <br/>
    <div class="jumbotron" id="zone_info">
      <b> Enter your notice here ! </b>
    </div>
    <div id="zone_notice">
      <form action="{% url 'polls:send' pseudo %}" method="post">
	{% csrf_token %}
	<div id="zone_text" class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Enter title" name="title">
	</div>
	<div id="zone_text" class="form-group">
          <label>Contents</label>
          <textarea class="form-control" rows="10" cols="10" placeholder="Enter contents" name="text"></textarea>
	</div>
	<button type="submit" class="btn btn-outline-secondary">Send</button>
      </form>
    </div>
    <br/>
    <a href="#notice" class="btn btn-light" id="button_ancre">Look all notices</a>
    <br/>
    <hr class="my-4" id="separate">
    <br/><br/><br/>
    <a name="notice"/>
    <div class="jumbotron" id="zone_info">
      <b> Look all notices here ! </b>
    </div>
    <br/>
    {% if all_notice %}
    <ul>
      {% for notice in all_notice %}
      <div class="jumbotron" id="zone_look_notice">
	<p id="title_notice"><b>{{ notice.notice_title }}</b></p>
	<hr class="my-4">
	<p id="contains_notice"> {{ notice.notice_text }}</p>
	<hr class="my-4">
	<p id="user_notice"><i>Message left by <b>{{ notice.post_pseudo }}</b></i></p>
	{% if notice.post_pseudo == pseudo %}
	<a href="{% url 'polls:change_notice' pseudo notice.id %}" class="btn btn-outline-info">Change Notice</a>
	<a href="{% url 'polls:delete' pseudo notice.id %}" class="btn btn-danger">Delete</a>
	<br/><br/>
	{% endif %}
      </div>
      <br/>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
